# Database Config
MYSQL_USER=root
MYSQL_PASSWORD=sua_senha_aqui
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=fleet_control

# JWT Config
SECRET_KEY=yoursecretkey1234567890
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
